<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
            <form action="/bracket/getBracket/<%=bracket._id%>" method="GET"> 
            <%= bracket %>
            <li class="col-6 justify-content-between mt-5">
            <%= bracket[i] %>
            <img class="img-fluid" src="<%= user[i].pic %>">  
            <% if (i.length = 1) {%> 
            <p> VS         
            <% } %> 
            </p>
            </li>
            <% } %> 
          </div>         
      </div>
     </div>
  </div>
</div>
<%- include('partials/footer') -%>