<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <ul class="col-6 justify-content-between mt-5">               
              <img class="img-fluid" src="<%= user.pic %>">
              </ul>    
                
                <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Update your avatar</h2>
            <form 
            action="/user/updateAvatar/<%= user.id %>?_method=PUT" 
            enctype="multipart/form-data" 
            method="POST">
             <label for="imgUpload" class="form-label">Image</label>
             <input type="file" class="form-control" id="imageUpload" name="file">        
            </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>    
            </form>
          </div>
      </div>
    </div>
  </div>

<%- include('partials/footer') -%>

